html{
    background-color:darkgrey
}
#Main{
    width: 75%;
    border: solid 1px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
input,button{
    display: block;
    margin: 5% auto;
    padding: 5px;
    font-weight: bolder;
}
input{
    width: 25%;
}
#message{
    text-align: center;
    font-size: 2em;
}